# Sample Config file for Documentum Adaptor
gsa.hostname=<GSA hostname>

#Documentum config
# Classpath for DFC needs to include dfc.jar and config directory.
documentum.classpath=<Classpath for Documentum DFC>
documentum.username=<Documentum username>
documentum.password=<Password for above user>
documentum.docbaseName=<Repository name>
documentum.src=<Comma separated list of folder paths>
