# Sample Config file for Documentum Adaptor
gsa.hostname=<GSA hostname>

# Documentum config
documentum.username=<Documentum username>
documentum.password=<Password for above user>
documentum.docbaseName=<Repository name>
documentum.src=<List of folder paths>
documentum.src.separator=<Delimiter used to separate paths in documentum.src>
